:root {
  --gradient1: hsl(6, 100%, 80%);
  --gradient2: hsl(335, 100%, 65%);
  --pale-blue:hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background: var(--very-dark-blue);
  font-size: .875em;
  font-family: Raleway; }

h3 {
  color: var(--grayish-blue); }

.image {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50vh; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .image {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .image-mobile {
      display: inline;
      position: absolute;
      top: 0;
      z-index: -1;
      height: 100vh; } }

.box {
  width: 80%;
  position: absolute;
  top: 35%;
  left: 20%; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .box {
      position: initial;
      width: 90%;
      margin: 4rem auto; } }
  .box__first {
    width: 30%;
    margin-right: 2rem;
    background-color: var(--dark-blue);
    padding: 3rem 8rem 3rem 8rem;
    border-radius: .5rem;
    border-top-right-radius: 8rem; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
      .box__first {
        padding-right: 13rem; } }
  .box__container {
    position: relative;
    right: 5rem; }
  .box__second {
    position: absolute;
    left: 30rem;
    bottom: 0rem;
    padding: 3rem 15rem 2rem 2rem;
    background-color: var(--dark-blue);
    border-radius: .5rem; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
      .box__second {
        position: initial;
        padding: 0;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        margin-top: 1rem; } }
  .box__fylo {
    display: inline-block; }
  .box__icons {
    display: flex; }
  .box__span {
    color: var(--pale-blue); }

.folder {
  background-color: var(--very-dark-blue);
  padding: .9rem .8rem .55rem;
  border-radius: 20%;
  margin-top: 1rem;
  margin-right: 1rem; }

.slider__container {
  width: 170%;
  background-color: var(--very-dark-blue);
  padding: .3rem;
  border-radius: 10px;
  margin-top: 1rem;
  padding-right: 10rem; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .slider__container {
      width: 90%;
      padding-right: 5rem; } }

.slider {
  position: relative;
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  padding: .5rem;
  border-radius: 10px; }
  .slider__ball {
    background-color: var(--pale-blue);
    padding: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px; }

.data {
  margin-top: .5rem; }
  .data__left {
    float: left;
    color: var(--pale-blue); }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
      .data__left {
        float: none; } }
  .data__right {
    float: right;
    position: relative;
    left: 12rem;
    color: var(--pale-blue); }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
      .data__right {
        float: none;
        bottom: 1.1rem; } }
  .data::after {
    content: "";
    display: table;
    clear: both; }

.cloud {
  width: 10%;
  position: relative;
  left: 54%;
  top: 5rem;
  z-index: 10;
  background-color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .cloud {
      width: 55%;
      text-align: center;
      right: 0;
      top: 26rem;
      left: 4.7rem; }
      .cloud h2 {
        font-size: 2rem; } }
  .cloud span {
    color: var(--grayish-blue);
    font-size: 0.8rem;
    padding-left: .3rem; }
  .cloud__angle {
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%);
    background: #fff;
    position: absolute;
    bottom: -1rem;
    left: 7.6rem; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
      .cloud__angle {
        display: none; } }
